// 大部分颜色都是基于 element ui 的
// 颜色定义规范

// 主题色 点缀色
$color-theme = #409EFF
// 主题色 点缀色
$color-theme2 = #0659be
// 点击反馈色
$color-active = #3b9412
// 焦点失去
$color-disabled = rgba(102, 207, 76, 0.5)

// Functional Color
// color-success
$color-success = #67C23A
// color-warning
$color-warning = #E6A23C
// color-danger
$color-danger = #F56C6C
// color-info
$color-info = #909399

// Font Color
// 主元素 主要文本 Primary Text (主文本)
$color-text-primary = #303133
// 辅助元素 次要文本 Regular Text (常规文本)
$color-text-regular = #606266
// 次要元素 辅助文本，部分图标色 Secondary Text (次要文本)
$color-text-secondary = #909399
// Placeholder
$color-text-placeholder = #C0C4CC

// Border Color
// (一级边框颜色)
$color-border-base = #DCDFE6
// (二级边框颜色)
$color-border-light = #E4E7ED
// (三级边框颜色)
$color-border-lighter = #EBEEF5
// (四级边框颜色)
$color-border-extra-light = F2F6FC

// Background Color
$color-background = #FFF
$color-background-black = #000
$color-background-base = #F5F7FA
$color-background-d = #F8F8F8
$color-background-e = #F9F9F9
$color-background-highlight = #333

//突出色 需要凸显的地方使用
$color-highlight = #FD5100
$color-red-pack-text = #FFCEA3
//橙色
$color-orange = #FF9800
$tip-background = rgba(253, 254, 191, 0.71)
//角标类用的红色 部分着重强调的用
$color-deep-red = #E51C23
$color-red-pack-red = #EC5138
$color-light-red = rgba(229, 28, 35, 0.67)
$color-white = #fff
$color-full-dark = #000000
$color-sky-blue = #c6F7F7
$color-href-blue = #2db7f5
$color-dividing-line = #f6f6f6
$color-auxiliary = #B39B00
$color-auxiliary-2 = #80CF60
$color-border = #F4F4F4
$color-background-2 = #f8f8f8
$color-background-3 = #f5f5f5

// gray
$color-dark-grey = #333
$color-grey = #666
$color-light-grey = #999
$color-light-grey-s = #ccc
$color-light-grey-ss = #eee
$color-light-grey-sss = #fcfcfc
$color-light-grey-ssss = #fdfdfd
$color-active-grey = #e8e8e8

$color-disable = rgba($color-full-dark, 0.12)

$color-dark-grey-opacity = rgba(74, 76, 91, 0.8)
$color-grey-opacity = rgba(0, 0, 0, .08)
$color-light-grey-opacity = rgba(0, 0, 0, .04)

$color-mask-bg = rgba(0, 0, 0, .35)


