// font-size vars
$font-size-larger-xxx = 55px
$font-size-larger-xx = 50px
$font-size-larger-x = 45px
$font-size-large-xxx = 40px
$font-size-large-xx = 36px
$font-size-large-x = 33px
$font-size-large = 30px
$font-size-medium = 28px
$font-size-small = 26px
$font-size-small-s = 24px
$font-size-small-ss = 22px
$font-size-smaller = 20px
$font-size-smaller-s = 18px
$font-size-smaller-ss = 16px

$letter-spacing = 2px
//尺寸规范
$distance-s = 1px
$distance-m = 5px
$distance-l = 10px
$distance-x = 15px
$distance-xl = 20px
$distance-xxl = 25px

$line-height-primary = 45px

$screen-height = 1334px
$screen-width = 750px

//文本间间距
$spacing-text = 10px
//标准间距  页面整体边距
$spacing-page-margin = 20px
//模块间间距
$spacing-module = 30px
//模块间间距
$spacing-module-large = 50px

$normal-height-small = 80px
$normal-height = 90px
$cell-item-height-large = 70px
$cell-item-height = 60px
$big-item-height = 110px

$icon-normal = 24px
$icon-large = 36px
$icon-large-x = 48px

$normal-border-radius = 20px
$border-radius-medium = 20px
$border-radius-large = 23px
$border-radius-large-x = 26px
$border-radius-large-xx = 29px
$border-radius-small-s = 15px
$border-radius-small-s = 10px
$border-radius-small-ss = 5px

//header
$header-height = 80px

// z-index control z-index控制
$z-index-min = 1
$z-index-mid = 50
$z-index-header = 90
