.header-title {
    margin: 20px 0 30px 0;
    font-family:"PingFang SC";
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
}
.header-font {
    font-family:"PingFang SC";
    font-size: 30px;
}

.btn-setting{
    width: 100%;
    font-size: 28px;
    height: 60px;
    border-radius: 30px;
}

.badge-style{
    width: 100px;
    height: 50px;
    font-size: 24px;
}

.el-card{
    margin-bottom:30px;
}

.el-row {
    margin-bottom: 30px;
}
.el-header {
    background-color: #f9f9e6;
    color: #333;
}
.el-message-box{
    width: 60%;
}
.el-message-box__title{
    font-size: 30px;
}
.el-message-box__content{
    font-size: 26px;
    padding:30px 15px;
}
.el-message-box__headerbtn{
    font-size: 30px;
}
.el-message-box__btns button{
    width:30%;
    height:50px;
    font-size: 25px;
    margin-right: 20px;
}
sup{
    width: 40px;
    height: 40px !important;
    border-radius: 20px !important;
    font-size: 25px !important;
    right: 15px !important;
    line-height:35px;
}
.el-badge__content{
    line-height: 35px;
}
.el-loading-parent--hidden{
    overflow: scroll !important;
}
.el-dialog{
    width: 80%;
}
.el-dialog__title{
    font-size: 30px;
}
.el-dialog__body .el-table{
    font-size: 25px;
    line-height: 40px;
}
.el-dialog__footer button{
    width:20%;
    height:50px;
    font-size: 25px;
    margin-right: 20px;
}
.el-dialog__headerbtn{
    font-size: 25px;
}
.el-dialog__header{
    padding-top: 25px;
}

.el-table .cell {
    line-height: unset;
}