
// Primary Text (主文本)
primary-text() {
  font-size $font-size-medium
  color $color-text-primary
  line-height 45px
}

//  Regular Text (常规文本)
regular-text() {
  font-size $font-size-small
  color $color-text-regular
  line-height 35px
}

// Secondary Text (次要文本)
secondary-text() {
  font-size $font-size-small
  color $color-text-secondary
}